

  <link rel="stylesheet" type="text/css" href="./assets/css/logo.css">

  <br><br>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><a href="/"><img class="logo" src="./assets/logos/Pelp.png"></a></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="col s6 btn-large waves-effect waves-light pink lighten-2">Login</a>
          <a href="/auth/facebook" id="download-button" class="col s6 btn-large waves-effect waves-light blue">Login with FaceBook</a>
        </div>
        <br><br>
        <div class="row center">
          <a href="/signup" id="download-button" class="col s12 btn-large waves-effect waves-light pink lighten-2"> Get Pelpin'</a>
        </div>
      </div>
    </div>
    <div class="parallax"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center blue-text">Speeds up your dating search</h5>

            <p class="light blue-text"> Find those who are up to par with your unrealistic high standards at the click of a button!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center blue-text">Quality matches tailored to your liking!</h5>

            <p class="light blue-text">Fooled by photoshop images no more!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center blue-text">Your satisfaction is not guaranteed</h5>

            <p class="light blue-text">Sorry, but the world is cruel out there</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <footer class="page-footer pink lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who we are</h5>
          <p class="grey-text text-lighten-4">
            We are a group of GA students who decided to do a parody of
            Yelp. Everything in this app is a JOKE and not meant to be "PC".
            We did it for laughs and if this offends you,
            then politely (AND QUEITLY) leave. Thanks :)
          </p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Creators</h5>
          <ul>
            <li><a class="white-text" href="#!">Lilly Ghassemieh</a></li>
            <li><a class="white-text" href="#!">Eddie Jung</a></li>
            <li><a class="white-text" href="#!">Juan Ruelas</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/lillygh">Lilly's GitHub</a></li>
            <li><a class="white-text" href="https://github.com/ebotsupreme">Eddie's GitHub</a></li>
            <li><a class="white-text" href="https://github.com/ChannelJuanNews">Juan's GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">JEL (Juan, Eddie & Lilly)</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./assets/materialize/js/materialize.js"></script>
  <script src="./assets/parallax-template/js/init.js"></script>
