<link rel="stylesheet" type="text/css" href="./assets/css/profile.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./assets/rater/rater.js"></script>

<br>
   <!-- Page Layout here -->
    <div class="row">
      <div class="">
        <div class="col s3 offset-s1">
          <!-- Grey navigation panel -->
          	<span class="flow-text"><img src="http://www.hdrspotting.com/images/default_profile.jpg"></span>
          	<h3><%= user.local.name || user.facebook.name %></h3>
            <h5>
              <div class="rate"></div>
            </h5>
            <h5>$$$$$$$$$$$$$$$</h5>
            <br><a href="#">Change Settings</a>
        </div>
      </div><br>
      <div class="col s9 offset-s6">
        <!-- Teal page content  -->
        <div class="container">
          <h4>Jake Gyllenhaal</h4>
              <form id="ratingsForm">
                <div class="stars">
                    <input type="radio" name="star" class="star-1" id="star-1" />
                    <label class="star-1" for="star-1">1</label>
                    <input type="radio" name="star" class="star-2" id="star-2" />
                    <label class="star-2" for="star-2">2</label>
                    <input type="radio" name="star" class="star-3" id="star-3" />
                    <label class="star-3" for="star-3">3</label>
                    <input type="radio" name="star" class="star-4" id="star-4" />
                    <label class="star-4" for="star-4">4</label>
                    <input type="radio" name="star" class="star-5" id="star-5" />
                    <label class="star-5" for="star-5">5</label>
                    <span></span>
                </div>
            </form>
        	<span class="flow-text">Forage hella leggings, yr schlitz tilde freegan 3 wolf moon intelligentsia. Before they sold out schlitz vice austin, gastropub mumblecore typewriter keytar selfies. Etsy tousled 8-bit occupy. Bitters small batch seitan, bespoke selvage post-ironic tacos. Fap flexitarian banjo vice plaid. Pabst fap echo park, brunch plaid mlkshk lo-fi +1 schlitz wolf. Listicle 3 wolf moon cold-pressed, offal scenester normcore etsy microdosing taxidermy cliche tilde gastropub literally tumblr.
        	</span>
        </div><br>
        <div class="container">
          <h4>Britney Spears</h4>
          <h5>$$$</h5>
        	<span class="flow-text">Etsy banh mi artisan, chicharrones fashion axe photo booth authentic blog green juice taxidermy franzen ugh. Meggings everyday carry before they sold out stumptown photo booth paleo tofu, pinterest austin. Bespoke asymmetrical you probably haven't heard of them kitsch gastropub godard. Tacos squid 3 wolf moon pour-over meditation, cornhole waistcoat literally roof party vinyl humblebrag church-key deep v health goth fap. Deep v keffiyeh 3 wolf moon messenger bag aesthetic iPhone pinterest jean shorts pickled. Yr marfa heirloom godard DIY selfies narwhal, yuccie twee bushwick vinyl typewriter selvage. Truffaut wolf craft beer, chillwave swag echo park heirloom banjo disrupt bushwick.
        	</span>
        </div><br>
        <div class="container">
          <h4>Jennifer Lopez</h4>
          <h5>$$</h5>
        	<span class="flow-text">Etsy banh mi artisan, chicharrones fashion axe photo booth authentic blog green juice taxidermy franzen ugh. Meggings everyday carry before they sold out stumptown photo booth paleo tofu, pinterest austin. Bespoke asymmetrical you probably haven't heard of them kitsch gastropub godard. Tacos squid 3 wolf moon pour-over meditation, cornhole waistcoat literally roof party vinyl humblebrag church-key deep v health goth fap. Deep v keffiyeh 3 wolf moon messenger bag aesthetic iPhone pinterest jean shorts pickled. Yr marfa heirloom godard DIY selfies narwhal, yuccie twee bushwick vinyl typewriter selvage. Truffaut wolf craft beer, chillwave swag echo park heirloom banjo disrupt bushwick.
        	</span>
        </div>
      </div>

    </div>
