<link rel="stylesheet" type="text/css" href="./assets/css/profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./assets/js/profile.js"></script>


<br>
   <!-- Page Layout here -->
    <div class="row">
      <div class="">

        <div class="col s3 offset-s1">
          <!-- Grey navigation panel -->
          	<span class="flow-text"><img src="http://www.hdrspotting.com/images/default_profile.jpg"></span>
          	<h3 class="userName"><%= user.local.name || user.facebook.name %></h3>
            <p class="userId"> <%= user._id %> </p>
            <div class="">Hotness</div>
            <div class="rw-ui-container"></div>
            <h5>$$$$$$$$$$$$$$$</h5>
            <br>
            <a class="waves-effect waves-light btn blue" href="/">Back to Feed</a>
            <br>
            <br>
            <a class="waves-effect waves-light btn blue" href="#">Change Settings</a>

        </div>

      </div><br>


      <div class="col s9 offset-s6">
        <!-- Teal page content  -->
        <div class="container">


           <!-- Dropdown Structure -->


        <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">comment</i>Review <%= %></div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
      </ul>

      <script type="text/javascript">
        window.onload = function() {

          console.log($('.userId').html())

          var user_id = $('.userId').html()

          $.ajax({
            url: '/users/' + user_id,
            method: 'GET',
            success: function(curr_user){
              console.log(curr_user)
              for (var i = 0; i < curr_user.comments.length; i++){
                console.log(i)
                var commentor_name = null;
                var title = curr_user.comments[i].title
                var text = curr_user.comments[i].entry
                $.ajax({
                  url: '/users/' + curr_user.comments[i]._creator,
                  method: 'GET',
                  success: function(commentor){
                    commentor_name = commentor.local.name || commentor.facebook.name
                    $('.appendTo').append("<h4>" + commentor_name + "</h4>");
                    $('.appendTo').append("<p>" + title + "</p>");
                    $('.appendTo').append("<span class='flow-text'>" + text + "</span>");
                    $('.appendTo').append("<br><br><br>")
                  },
                  error: function(){
                    console.log("Error retrienving name")
                  }
                })
              }
            },
            error: function() {
              console.log("I failed master");
            }
          })
        }
      </script>

          <span class="appendTo"></span>

        </div><br>
    </div>
