<link rel="stylesheet" type="text/css" href="./assets/css/profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./assets/js/profile.js"></script>




<br>
   <!-- Page Layout here -->
    <div class="row">
      <div class="">

        <div class="col s3 offset-s1">
          <!-- Grey navigation panel -->
          	<span class="flow-text"><img src="http://www.hdrspotting.com/images/default_profile.jpg"></span>
          	<h3><%= user.local.name || user.facebook.name %></h3>
            <div class="">Hotness</div>
            <div class="rw-ui-container"></div>
            <h5>$$$$$$$$$$$$$$$</h5>
            <br>
            <a href="#">Change Settings</a>
        </div>

      </div><br>


      <div class="col s9 offset-s6">
        <!-- Teal page content  -->
        <div class="container">
          <h4>Jake Gyllenhaal</h4>
        	<span class="flow-text">
            Forage hella leggings, yr schlitz tilde freegan 3 wolf moon intelligentsia. Before they sold out schlitz vice austin, gastropub mumblecore typewriter keytar selfies. Etsy tousled 8-bit occupy. Bitters small batch seitan, bespoke selvage post-ironic tacos. Fap flexitarian banjo vice plaid. Pabst fap echo park, brunch plaid mlkshk lo-fi +1 schlitz wolf. Listicle 3 wolf moon cold-pressed, offal scenester normcore etsy microdosing taxidermy cliche tilde gastropub literally tumblr.
        	</span>
        </div><br>
    </div>
