<link rel="stylesheet" type="text/css" href="./assets/css/profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./assets/js/profile.js"></script>


<div class="row">
  <form class="col s12">
    <div class="row">

      <div class="input-field col s6">
        <input id="name" type="text" class="validate">
        <label for="last_name">Full Name</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
    </div>
  </form>
</div>